* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

 body {
  font-size: 20px;
 }






  .header-section {
    background-color: #e8dcc5;
    width: 100%;
    padding: 27px 200px;
    display: flex;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s ease;
    position: fixed;

  }

  .nav-1 a {
    padding-left: 20px;
    font-size: 1.2em;
    text-decoration: none;



  }

  .fa-solid {
    color: rgba(18, 18, 18, 1);
    transition: transform 0.3s ease; 
  }
  
  .fa-solid:hover {
    transform: scale(1.2  ); 
  }

  

  








  .nav-2 a{
    padding-left: 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: rgba(18, 18, 18, 1);





  }

  .logo{
    color: rgba(18, 18, 18, 1);
    text-decoration: none;
    font-weight: bold;
  }

  .home-link{
    color: rgba(18, 18, 18, 1);
    font-weight: 700;


  }

  .katalog-link{
    color: rgba(18, 18, 18, 1);
    font-weight: 700;
    text-decoration: none;



  }
  .euro:hover{
    text-decoration: underline;
  }


  .main-section {
    display: flex;
    background: url("images/wee.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
  

  
  }

  .quote {

    padding-top: 55px;
    font-size: 1.3em;
    font-weight: 700;

  }

  .divider-sction{
    background-color :#e8dcc5;
    width: 100%;
    padding: 27px 200px;

  }

  .divider-sction div {
    font-size: 1.3em;
  }

  .second-section {
    background-color: white;




  }












